<div>
    <h1>КОРЗИНА ТОВАРОВ</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Наименование</td>
            <td>Цена (руб. коп.)</td>
            <td>Количество</td>
            <td>Сумма</td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>{{item.pricePerProduct.toFixed(2)}}</td>
            <td>
                <button class="btn btn-secondary" ng-click="changeQuantity(item.productId, -1)">-</button>
                    {{item.quantity}}
                <button class="btn btn-secondary" ng-click="changeQuantity(item.productId, 1)">+</button>
            </td>
            <td>{{item.quantity * item.price.toFixed(2)}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProduct(item.productId)">Удалить</button>
                <button class="btn btn-secondary" ng-click="navToInfoPage(item.productId)">Информация</button>
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">ИТОГО:</td>
            <td></td>
            <td></td>
            <td style="font-weight: bold;">{{cart.totalPrice.toFixed(2)}}</td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <button class="btn btn-secondary" ng-click="navToStorePage()">В каталог</button>
    <button class="btn btn-secondary" ng-click="clearCart()">Очистить корзину</button>
    <button class="btn btn-lg btn-danger" ng-click="order()" >Оформить заказ</button>
    <p></p>
</div>
